/*Fuente para algunos textos*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*Estados generales del ejercicio 03*/
div.formcont {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

div.formcont{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: url();
    --webkit-linear-gradient:(bottom, #0250C5, #D43F8D);
    
}
::selection{
    color: #fff;
    background: #D43F8D;
}
div.container{
    width: 330px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}
.container header{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
}
.container .form-outer form{
    display: flex;
    width: 400%;
}
.form-outer form .page .titleform{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}



/*Social media icons css*/
.social a {
    font-size: 4.5em;
    padding: 3rem;

}

.fa-whatsapp {
    color: #075E54;

}

.fa-twitter {
    color: #00ACED;

}

.fa-github {
    color: #FFFFFF;
}

.fa-whatsapp:hover,
.fa-twitter:hover,
.fa-github:hover {
    color: #D5D5D5;
}

#footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
}

#footer,
h2 {
    text-align: end;
}

/*Uso de layout responsivo*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2em;
    }
}

@media (max-width: 768px) {

    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}
