/*Fuente para algunos textos*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*Social media icons css*/
.social a {
    font-size: 4.5em;
    padding: 3rem;

}

.fa-whatsapp {
    color: #075E54;

}

.fa-twitter {
    color: #00ACED;

}

.fa-github {
    color: #FFFFFF;
}

.fa-whatsapp:hover,
.fa-twitter:hover,
.fa-github:hover {
    color: #D5D5D5;
}

#footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
}

#footer,
h2 {
    text-align: end;
}

/*Uso de layout responsivo*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2em;
    }
}

@media (max-width: 768px) {

    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}

/*Estados generales del ejercicio 03*/

*::before,
*::after {
    box-sizing: border-box;
}

.bodySection {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 60vh;
}

.text-center {
    text-align: center;
}

/*Form elements*/
label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

/*Barra de progreso*/
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
}

.progressbar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;

}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progress-step::before {
   
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    
    content: attr(data-title);
    position:absolute;
    top: calc(100% +0.5rem);
    font-size: 0.85rem;
}

/*Form*/

.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    background-color:floralwhite;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

/*Form Button*/
.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: rgb(11, 78, 179);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

/*Button position*/
.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(11, 78, 179);
}
