/*Estados generales del ejercicio 03*/
.formcont .containerfrm {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: sans-serif;
}

div.formcont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    --webkit-linear-gradient: (bottom, #0250C5, #D43F8D);

}

::selection {
    color: #fff;
    background: #D43F8D;
}

div.containerfrm{
    width: 330px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.containerfrm header {
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.containerfrm .form-outer {
    width: 100%;
    overflow: hidden;
}

.containerfrm .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page .titleform {
    padding: 7px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .fieldform {
    padding: 7px;
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .fieldform .label {
    position: absolute;
    top: -30px;
    font-weight: 500;

}

form .page .fieldform input {
    height: 90%;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 500;
}

form .page .fieldform select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .fieldform button {
    width: 90%;
    height: calc(100% + 5px);
    border: none;
    background: #D33F8D;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .fieldform button:hover {
    background: #000;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns buttons.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

/*Bara de progreso estilos*/

.containerfrm .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;

}

.containerfrm .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.containerfrm .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet:active{
    border-color: #D43F8D;
    background: #D43F8D;
}
.progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.progress-bar .step .bullet:before,
.progress-bar .step .bulet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}
.progress-bar .step .bullet:active:after{
    background:#D43F8D;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}
.progress-bar .step p.active{
    color: #D43F8D;
    transition:  0.2s linear;
}
.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70px;
    font-size: 15px;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .step .check.active{
    display:  block;
    color: #fff;
}